@using PlaylistChaser.Web.Models.ViewModel;
@using static PlaylistChaser.Web.Util.BuiltInIds;
@model PlaylistViewModel
@{
    ViewData["Title"] = "Details";
    var sources = (Sources[])Enum.GetValues(typeof(Sources));
}

<script type="text/javascript">
    function syncSongsThumbnail() {
        let url = "/Playlist/SyncSongsThumbnail/@Model.PlaylistId";
        let btn = $("#syncSongsThumbnailBtn");
        ajaxCall(url, btn);
    }
    function syncPlaylistFrom() {
        let url = "/Playlist/SyncPlaylistFrom/@Model.PlaylistId";
        let btn = $("#syncPlaylistFromBtn");
        ajaxCall(url, btn);
    }
    function syncPlaylistTo() {
        let url = "/Playlist/SyncPlaylistTo/@Model.PlaylistId";
        let btn = $("#syncPlaylistToBtn");
        ajaxCall(url, btn);
    }
    function deletePlaylistAtSource() {
        let url = "/Playlist/DeletePlaylistAtSource/@Model.PlaylistId";
        let btn = $("#deletePlaylistAtSourceBtn");
        ajaxCall(url, btn);
    }
    function deletePlaylistLocal() {
        let url = "/Playlist/DeletePlaylistLocal/@Model.PlaylistId";
        let btn = $("#deletePlaylistLocalBtn");
        ajaxCall(url, btn, function () { window.location.replace("/Playlist") });
    }

    function ajaxCall(url, btn, onSuccessFunc) {
        if (url == null || btn == null)
            return alert("url or button not set");

        disableButtonRow();
        disableButton(btn);
        let source = getSelectedSource();

        $.ajax({
            type: "POST",
            url: url,
            data: { source: source },
            success: function (data) {
                if (!data.success) {
                    enableButtonRow();
                    enableButton(btn);
                    return alert(data.message)
                }
                if (onSuccessFunc == null)
                    location.reload();
                else
                    onSuccessFunc();
            },
            dataType: "json"
        });
    }

    function disableButtonRow() {
        $("#btn-header-row .btn").addClass("disabled");
    }

    function enableButtonRow() {
        $("#btn-header-row .btn").removeClass("disabled");
    }

    function disableButton(btn) {
        $(btn).addClass("disabled");
        btn.append('<div class="loading-spinner spinner-border ml-auto" role="status" aria-hidden="true"></div>');
    }
    function enableButton(btn) {
        btn.removeClass("disabled");
        btn.find(".loading-spinner").remove();
    }

    function getSelectedSource() {
        return $("#sourceSelector").val();
    }
</script>


<select id="sourceSelector" class="form-select" aria-label="Select Source">
    @foreach (var src in sources)
    {
        @Html.Raw("<option "+ (src == Sources.Youtube ? "selected" : "") + " value=\""+src.ToString()+"\">"+src.ToString()+"</option>")
    }
</select>


<h4>Playlist</h4>
<div class="row">
    <div class="col-md-10">
        <div class="form-group row">
            @Html.LabelFor(m => m.Name)
            @Html.DisplayFor(m => m.Name)
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Description)
            @Html.DisplayFor(m => m.Description)
        </div>

        <div id="btn-header-row" class="btn-group btn-group-lg" role="group" aria-label="Control group">
            <a id="syncPlaylistFromBtn" href="javascript:;" onclick="syncPlaylistFrom()" class="btn btn-primary">
                Sync Playlist From Source
            </a>
            <a id="syncPlaylistToBtn" href="javascript:;" onclick="syncPlaylistTo()" class="btn btn-primary">
                Sync Playlist To Source
            </a>
            <a id="syncSongsThumbnailBtn" href="javascript:;" onclick="syncSongsThumbnail()" class="btn btn-primary">
                Sync Songs-Thumbnail From Source
            </a>
            <a id="deletePlaylistAtSourceBtn" href="javascript:;" onclick="deletePlaylistAtSource()" class="btn btn-primary">
                Delete Playlist At Source
            </a>
            <a id="deletePlaylistLocalBtn" href="javascript:;" onclick="deletePlaylistLocal()" class="btn btn-primary">
                Delete Playlist Local
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5>Songs</h5>
        <table class="table"
               data-toggle="table"
               data-search="true"
               data-filter-control="true"
               data-show-search-clear-button="true"
               data-height="800">
            <thead>
                <tr>
                    <th data-sortable="true">@Html.DisplayNameFor(m => m.Songs.First().SongName)</th>
                    <th data-sortable="true">@Html.DisplayNameFor(m => m.Songs.First().ArtistName)</th>
                    <th data-filter-control="select" data-sortable="true">@Html.DisplayNameFor(m => m.Songs.First().PlaylistSongStates)</t>
                    <th data-filter-control="select" data-sortable="true">@Html.DisplayNameFor(m => m.Songs.First().SongStates)</th>
                </tr>
                <tr>
                    <td>
                        @Model.Songs.Count
                    </td>
                    <td colspan="4">&nbsp;</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var song in Model.Songs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => song.SongName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => song.ArtistName)
                        </td>
                        <td>
                            @foreach (var state in song.PlaylistSongStates)
                            {
                                <div>@Html.Raw(state.IconHtml)@(" " + state.SourceId.ToString() + ": " + state.StateId.ToString())</div>
                            }
                        </td>
                        <td>
                            @foreach (var state in song.SongStates)
                            {
                                <div>@Html.Raw(state.IconHtml)@(" " + state.SourceId.ToString() + ": " + state.StateId.ToString())</div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        @Model.Songs.Count
                    </td>
                    <td colspan="4">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>