@model IEnumerable<PlaylistModel>
@{
	ViewData["Title"] = "Home Page";
}

<section id="indexSearch">
	<h4>Add new Playlist</h4>

	@using (Html.BeginForm("SeachYTPlaylist", "Playlist", null, Microsoft.AspNetCore.Mvc.Rendering.FormMethod.Post, null, new { @class = "row g-3 align-items-center" }))
	{
		<div class="col-lg-8 col-sm-12">
			<label class="visually-hidden" for="ytPlaylistUrl">Username</label>
			<div class="input-group">
				<div class="input-group-text"><i class="bi bi-youtube"></i></div>
				<input type="url" name="ytPlaylistUrl" class="form-control form-control-lg" id="ytPlaylistUrl" placeholder="YouTube URL" required>
			</div>
		</div>

		<div class="col-lg-4 col-sm-12">
			<button type="submit" class="btn btn-lg btn-outline-danger"><i class="bi bi-plus-lg"></i> Add Playlist</button>
		</div>
	}
</section>

<section id="indexList">
	<h4>Playlist</h4>

	<table class="table">
		<colgroup>
			<col sytle="width:25%" />
			<col sytle="width:25%" />
			<col sytle="width:25%" />
			<col sytle="width:25%" />
		</colgroup>
		<thead>
			<tr>
				<th></th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ChannelName)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var playlist in Model)
			{
				<tr>
					<td>
						<img src="data:imgae/png;base64,@(playlist.ImageBytes64)">
					</td>
					<td>
						@Html.DisplayFor(modelItem => playlist.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => playlist.ChannelName)
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@playlist.Id">Details</a>
						<a asp-action="Edit_Delete" asp-route-id="@playlist.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</section>