@model PlaylistModel
@{
    ViewData["Title"] = "Details";
}

<h4>Playlist</h4>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            @Html.LabelFor(m => m.Name)
            @Html.DisplayFor(m => m.Name)
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Description)
            @Html.DisplayFor(m => m.Description)
        </div>
        <div class="form-group row">
            <div class="col">
                <a asp-action="CheckPlaylistYoutube" asp-route-id="@Model.Id" class="btn btn-primary">
                    check playlist youtube side
                </a>
            </div>
            <div class="col">
                <a asp-action="UpdateSpotifySongLinks" asp-route-id="@Model.Id" class="btn btn-primary">
                    update spotify song links
                </a>
            </div>
            <div class="col">
                <a asp-action="UpdatePlaylistSpotify" asp-route-id="@Model.Id" class="btn btn-primary">
                    update spotify-playlist
                </a>
            </div>
            <div class="col">
                <a asp-action="UpdatePlaylistThumbnail" asp-route-id="@Model.Id" class="btn btn-primary">
                    Update Playlist Thumbnail
                </a>
            </div>
            <div class="col">
                <a asp-action="UpdateSongsThumbnail" asp-route-id="@Model.Id" class="btn btn-primary">
                    Update Songs Thumbnail
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5>Songs</h5>
        <table class="table">
            <colgroup>
                <col sytle="width:25%" />
                <col sytle="width:25%" />
                <col sytle="width:25%" />
                <col sytle="width:25%" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayName("SongName")
                    </th>
                    <th>
                        @Html.DisplayName("ArtistName")
                    </th>
                    <th>
                        @Html.DisplayName("FoundOnSpotify")
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var song in Model.Songs)
                {

                    <tr>
                        <td>
                            <img src="data:imgae/png;base64,@(song.ImageBytes64)">
                        </td>
                        <td>
                            @Html.DisplayFor(m => song.SongName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => song.ArtistName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => song.FoundOnSpotify)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
